<script id="footer-template" type="text/x-handlebars-template">
    <div class="wrap">
        <div class="footer-logo"><a href="/index.html">GNLIBERTY CO.,Ltd (주)지엔리버티</a></div>
        <div class="footer-info">
            <div class="footer-about">상호 : (주)지엔리버티  대표이사 : 정근섭  사업자등록번호 :370-88-00737 </div>
            <div class="footer-address">사업장주소 : 서울시 강남구 강남대로 54길 7, 403호 (도곡동, 명문빌딩) 대표전화 : 02-6951-0321  FAX : 02-6951-0322</div>
            <div class="footer-copyright">Copyright www.gnliberty.co.kr</div>
        </div>
    </div>
</script>