@charset "utf-8";
	
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
body{min-width:1000px}
body,div,p,th,td,input,select,textarea,button{color:#000;font-size:16px;line-height:1.8;font-family:'나눔 고딕', 'Nanum Gothic','맑은 고딕','Malgun Gothic','Apple SD Gothic Neo','돋움','Dotum',sans-serif}
ul,ol,menu,li,dl,dt,dd{list-style:none}
address,var,em,dfn,cite,code{font-style:normal}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
fieldset,button,img{border:0 none}
legend,.blind{display:block;overflow:hidden;position:absolute;top:-999em;left:0;font-size:0;line-height:0;text-indent:-999em}
button,label{background-color:transparent;cursor:pointer}

caption,hr{overflow:hidden;height:0;font-size:0;line-height:0}
a:link,a:visited,a:active{color:#000;text-decoration:none}
a:hover{color:#999;text-decoration:underline;cursor:pointer}
.float-left{float:left !important}
.float-right{float:right !important}
.clear{*zoom:1}
.clear:after{content:"";display:block;clear:both}
.txt-left{text-align:left !important}
.txt-center{text-align:center !important}
.txt-right{text-align:right !important}
.none-bg{background:none}
.none-border{border:none}
.bold,strong{font-weight:700}
.visible{visibility:visible}
.hidden{visibility:hidden}
.show,.block{display:block}
.hide,.none{display:none}
.blind,legend{overflow:hidden;position:absolute;left:-999em;top:-999em;display:block}
.blind-hide{overflow:hidden;position:relative;z-index:-10;display:block;width:100%;height:100%}/* 이미지 대체텍스트를 감싼 요소에 스타일 */
table.fixed{table-layout:fixed}

#skip{margin:0;padding:0}
#skip a{position:absolute;left:0;top:-100px;z-index:5000;display:block;padding:8px 0 7px;width:100%;background:#1699d3;color:#fff;text-align:center;text-decoration:none;outline:0}
#skip a:active,#skip a:focus{top:0;font-size:12px;font-weight:bold;line-height:1.5}

.wrap{overflow:hidden;position:relative;margin:0 auto;width:1000px}
.sp_common,.header-logo,.header-home,.header-contact,.footer-logo{overflow:hidden;display:block;background:url(../../image/common.png) no-repeat -999em -999em;text-indent:-999em}

#header{position:absolute;z-index:100;width:100%;height:129px;background:#fff}
.header-logo{float:left;margin-top:58px;width:222px;height:45px;background-position:0 0}
.header-logo>a{display:block}
.header-home{width:44px;height:45px;background-position:-230px 0}
.header-contact{width:62px;height:45px;background-position:-280px 0}
.header-links{position:absolute;right:0;top:0}
.header-links>a{display:block;float:left;margin-left:20px;color:#fff}
.header-nav{float:right;margin-top:58px;margin-right:-54px}
.header-nav>a{display:inline-block;padding:10px 54px;color:#727171;font-size:16px;font-weight:700;text-decoration:none}
.header-nav>.active-nav{color:#1699d3}
#footer{padding:30px 0 20px;background:#e5e5e5;text-align:center}
.footer-logo{margin:0 auto 20px;width:330px;height:52px;background-position:0 -50px}
.footer-about,.footer-address,.footer-copyright{color:#939393;font-size:12px;font-weight:700}
/* #footer .wrap{padding:30px 30px 50px} */

#container{margin:0 auto;padding-bottom:235px}
#container.company,#container.partner,#container.product1,#container.product2,#container.product3,#container.customer{padding-top:318px;background:no-repeat 50% 129px}
#container.company{background-image:url(../../image/top-company.jpg)}
#container.partner{background-image:url(../../image/top-partner.jpg)}
#container.product1{background-image:url(../../image/top-product1.jpg)}
#container.product2{background-image:url(../../image/top-product2.jpg)}
#container.product3{background-image:url(../../image/top-product3.jpg)}
#container.customer{background-image:url(../../image/top-customer.jpg)}
#container .wrap{margin-top:75px}
.tabs{margin:0 auto;width:520px;height:170px}
.tabs>h2{margin-bottom:15px;color:#1699d3;font-size:24px;font-weight:800;text-align: center}
.tabs .tab{overflow:hidden;display:inline-block;width:170px;height:54px;background:url(../../image/cont-product.jpg) no-repeat;text-indent:-999em}
.tabs .tab1{background-position:0 -50px}
.tabs .tab2{background-position:-175px -50px}
.tabs .tab3{background-position:-350px -50px}
.tabs .tab1:hover{background-position:0 -110px}
.tabs .tab2:hover{background-position:-175px -110px}
.tabs .tab3:hover{background-position:-350px -110px}
.tabs .tab1.active{background-position:0 -170px}
.tabs .tab2.active{background-position:-175px -170px}
.tabs .tab3.active{background-position:-350px -170px}
h3.title{margin-bottom:50px;font-size:27px;font-weight:800}
h4{margin-top:20px;color:#1699d3}
h4.dot:before{content:"•"}
p.indent{padding-left:15px}
p.img{margin-top:60px;text-align:center}
p.img>img{vertical-align:bottom}
.movie{margin:50px auto 70px;width:709px;height:471px}
/* .movie>img{position:absolute} */
.point-text{color:#1699d3}
.box{padding:25px 25px 60px;border:5px solid #ddd}
.box.indent{margin-top:30px}
.ceo-message{width:1000px;height:530px;background:url(../../image/cont-company.jpg) no-repeat 100% 0;line-height:2.2}
.partner{margin:20px 0 30px;line-height:2.4}
.address-map{width:1000px;height:570px;background:url(../../image/cont-customer.jpg) no-repeat 100% 0;line-height:2.2}
.address-map h4{margin-top:50px;font-size:24px}
.address-map p{line-height: 2.2}

/* main */
.main #container .wrap{margin-top:0}
.main #container .wrap>h3{margin-top:50px;font-size:26px;font-weight:700;text-align:center}
.product-links{overflow:hidden;margin-top:115px}
.product-links .link{overflow:hidden;display:block;float:left;width:235px;height:242px;background:url(../../image/main-product-links.jpg) no-repeat;text-indent:-999em}
.product-links .link:not(:first-child){margin-left:20px}
.product-links .link1{background-position:0 0}
.product-links .link2{background-position:-257px 0}
.product-links .link3{background-position:-515px 0}
.product-links .link4{background-position:-772px 0}
.swiper-slide{width:100%;height:729px}
.swiper-slide>img{position:absolute;left:50%;top:0;margin-left:-1000px}
.swiper-slide-active{z-index:1}
.swiper-pagination-bullet{width:15px;height:15px;background:#bbb;opacity:1}
.swiper-pagination-bullet-active{background:#008cd6}